In [1]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\neheil\appdata\roaming\python\python310\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\neheil\appdata\roaming\python\python310\site-packages (from pymongo) (2.2.1)

In [16]:
import pymongo
from pymongo import MongoClient
client=MongoClient("mongodb://127.0.0.1:27017")

In [17]:
db=client["Tele_Directory"]
db

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Tele_Directory')

In [18]:
#Create Database
myColl=db["Details"]
myColl

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Tele_Directory'), 'Details')

In [19]:
#create collection
mydbs=client.list_database_names()
print(mydbs)

['IIT', 'Testing', 'Testing1', 'admin', 'config', 'guvi', 'guvi1', 'local', 'students_data', 'university']

In [21]:
#Inserting one document into collection
det={"Name":"Raju","Phone_no":8453231256,"Place":"Chennai"}
myColl.insert_one(det)

In [22]:
#inserting multiple document into collection
det_lst=[{"Name":"Rani","Phone_no":8456541256,"Place":"Salem"},
         {"Name":"Sam","Phone_no":8453238723,"Place":"Madurai"},
         {"Name":"Kathir","Phone_no":8129231256,"Place":"Erode"},
         {"Name":"Raju","Phone_no":6453239643,"Place":"Ooty"},
         {"Name":"Banu","Phone_no":6543231256,"Place":"Trichy"},
         {"Name":"Abu","Phone_no":7453231254,"Place":"Chennai"},
         {"Name":"Tina","Phone_no":8453987256,"Place":"Trichy"},
         {"Name":"Ravi","Phone_no":8453265489,"Place":"Chennai"},
         {"Name":"Anbu","Phone_no":7432931256,"Place":"Nagerkovil"},
         {"Name":"Jeevan","Phone_no":5453298256,"Place":"Theni"},
         {"Name":"Arivu","Phone_no":4589231256,"Place":"Karur"},
         {"Name":"Abi","Phone_no":8458723197,"Place":"coimbatore"},
         {"Name":"Kani","Phone_no":6597331256,"Place":"Kodaikanal"}]
myColl.insert_many(det_lst)

In [24]:
for i in myColl.find():
  print(i)

{'_id': ObjectId('63b26e3b5805a0200d57d8b1'), 'Name': 'Raju', 'Phone_no': 8453231256, 'Place': 'Chennai'}
{'_id': ObjectId('63b272b45805a0200d57d8b2'), 'Name': 'Rani', 'Phone_no': 8456541256, 'Place': 'Salem'}
{'_id': ObjectId('63b272b45805a0200d57d8b3'), 'Name': 'Sam', 'Phone_no': 8453238723, 'Place': 'Madurai'}
{'_id': ObjectId('63b272b45805a0200d57d8b4'), 'Name': 'Kathir', 'Phone_no': 8129231256, 'Place': 'Erode'}
{'_id': ObjectId('63b272b45805a0200d57d8b5'), 'Name': 'Raju', 'Phone_no': 6453239643, 'Place': 'Ooty'}
{'_id': ObjectId('63b272b45805a0200d57d8b6'), 'Name': 'Banu', 'Phone_no': 6543231256, 'Place': 'Trichy'}
{'_id': ObjectId('63b272b45805a0200d57d8b7'), 'Name': 'Abu', 'Phone_no': 7453231254, 'Place': 'Chennai'}
{'_id': ObjectId('63b272b45805a0200d57d8b8'), 'Name': 'Tina', 'Phone_no': 8453987256, 'Place': 'Trichy'}
{'_id': ObjectId('63b272b45805a0200d57d8b9'), 'Name': 'Ravi', 'Phone_no': 8453265489, 'Place': 'Chennai'}
{'_id': ObjectId('63b272b45805a0200d57d8ba'), 'Name': 'Anbu', 'Phone_no': 7432931256, 'Place': 'Nagerkovil'}
{'_id': ObjectId('63b272b45805a0200d57d8bb'), 'Name': 'Jeevan', 'Phone_no': 5453298256, 'Place': 'Theni'}
{'_id': ObjectId('63b272b45805a0200d57d8bc'), 'Name': 'Arivu', 'Phone_no': 4589231256, 'Place': 'Karur'}
{'_id': ObjectId('63b272b45805a0200d57d8bd'), 'Name': 'Abi', 'Phone_no': 8458723197, 'Place': 'coimbatore'}
{'_id': ObjectId('63b272b45805a0200d57d8be'), 'Name': 'Kani', 'Phone_no': 6597331256, 'Place': 'Kodaikanal'}

In [25]:
#Update document
old_data={"Name":"Ravi","Place":"Chennai"}
new_data={"$set":{"Place":"Salem"}}
myColl.update_one(old_data,new_data)

In [26]:
for i in myColl.find({"Name":"Ravi"}):
    print(i)

{'_id': ObjectId('63b272b45805a0200d57d8b9'), 'Name': 'Ravi', 'Phone_no': 8453265489, 'Place': 'Salem'}

In [27]:
#Delete One Document
query={"Place":"Trichy"}
myColl.delete_one(query)

In [28]:
for i in myColl.find():
    print(i)

{'_id': ObjectId('63b26e3b5805a0200d57d8b1'), 'Name': 'Raju', 'Phone_no': 8453231256, 'Place': 'Chennai'}
{'_id': ObjectId('63b272b45805a0200d57d8b2'), 'Name': 'Rani', 'Phone_no': 8456541256, 'Place': 'Salem'}
{'_id': ObjectId('63b272b45805a0200d57d8b3'), 'Name': 'Sam', 'Phone_no': 8453238723, 'Place': 'Madurai'}
{'_id': ObjectId('63b272b45805a0200d57d8b4'), 'Name': 'Kathir', 'Phone_no': 8129231256, 'Place': 'Erode'}
{'_id': ObjectId('63b272b45805a0200d57d8b5'), 'Name': 'Raju', 'Phone_no': 6453239643, 'Place': 'Ooty'}
{'_id': ObjectId('63b272b45805a0200d57d8b7'), 'Name': 'Abu', 'Phone_no': 7453231254, 'Place': 'Chennai'}
{'_id': ObjectId('63b272b45805a0200d57d8b8'), 'Name': 'Tina', 'Phone_no': 8453987256, 'Place': 'Trichy'}
{'_id': ObjectId('63b272b45805a0200d57d8b9'), 'Name': 'Ravi', 'Phone_no': 8453265489, 'Place': 'Salem'}
{'_id': ObjectId('63b272b45805a0200d57d8ba'), 'Name': 'Anbu', 'Phone_no': 7432931256, 'Place': 'Nagerkovil'}
{'_id': ObjectId('63b272b45805a0200d57d8bb'), 'Name': 'Jeevan', 'Phone_no': 5453298256, 'Place': 'Theni'}
{'_id': ObjectId('63b272b45805a0200d57d8bc'), 'Name': 'Arivu', 'Phone_no': 4589231256, 'Place': 'Karur'}
{'_id': ObjectId('63b272b45805a0200d57d8bd'), 'Name': 'Abi', 'Phone_no': 8458723197, 'Place': 'coimbatore'}
{'_id': ObjectId('63b272b45805a0200d57d8be'), 'Name': 'Kani', 'Phone_no': 6597331256, 'Place': 'Kodaikanal'}